<!-- // Title: Bobs Computer Repair Shop
// Author: Professor Krasso
// Date: Feb 17 2023
// Modified By: Ferdinand Detres Jr
// Attributions: https://www.section.io/engineering-education/nodejs-mongoosejs-mongodb/
//https://www.youtube.com/watch?v=WDrU305J1yw
// In-Class tutorials -->

<!-- Famous 500 error Page -->

<html>
<div class="error">

    <div class="wrap">
        <div class="404">

            <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
            <span class="orange">&lt;html&gt;</span>
            <span class="orange">&lt;style&gt;</span>

            <span class="green">everything</span>:<span class="blue">awesome</span>;

            <span class="orange">&lt;/style&gt;</span><br>
            <span class="orange">&lt;body&gt;</span><br>
            <p class="bigError">ERROR 500!</p>
            <p class="bigError">Internal Server Error!</p><br>
            <h1><span class="comment">&lt;!--You are not Worthy to find the page--&gt;
                </span></h1>
            <span class="orange"></span>

            <br />
            <span class="info">
                <br />
                <span class="orange">&nbsp;&lt;/body&gt;</span>
                <br />
                <span class="orange">&lt;/html&gt;</span>
            </span>
            <button mat-raised-button color="accent" routerLink="/">CLick HeRE to ACCEPT DEFEAT</button>

        </div>
    </div>
</div>

</html>