
<div fxLayout="column">
    <h1 class="blue">About Us</h1>
    <div fxFlex>
        <div fxLayout="row wrap">
            <figure>
                <img src="../../../assets/pc1.png">
                <figcaption>Source<a href="https://pixabay.com/photos/imac-computer-repair-apple-338988/">pixabay</href></figcaption>
            </figure>
            <figure>
                <img src="../../../assets/logo.png">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img src="../../../assets/pc.png">
                <figcaption>Source<a href="https://pixabay.com/photos/computer-hard-drive-3293874/">pixabay</href></figcaption>
            </figure>
        </div>
    </div>

    <div fxFlex>
        <p>
            BCRS started in 1995 is one of the most popular repairing shops in town. What set us apart from many larger computer repair centers, 
            such as Best Buy and Staples is our personal level service and quality care that we provided to our customers. We have grown tremendously
            because of the way we treat each customers. Over the years we have not spent  a dime on advertising but we constantly getting new customers.
            When we ask them how they find us is they say word of mouth. Friends tell friends, families tell families and neighbors tell neighbors. 
            That’s why we have grown so much. We have been on local news numerous times.
        </p>
        <p>
            Our technicians are skillful in all areas. There’s no device that we can’t fix. We work on all makes and models of computers.
             You have an Apple products, tablets, smart phones, and pc that need work bring them in. You have a gaming consoles, PlayStation, Xbox, 
             and Nintendo that needs work bring them in. Whatever issues that you might be dealing with, we can fix them.  We also provided data recovery 
             service. We do custom-built computers. Our service price can’t be beat. We provided the best service at the lowest cost in town. 
             Though our service charges are low, we do not sacrifice quality for price. We guarantee you will get quality service while paying less for it. 
             We were made by the people for the people. Do not hesitate to come by to visit us. We are here for you.

        </p>
        
    </div>
    

</div>