<!-- // Title: Bobs Computer Repair Shop
// Author: Professor Krasso
// Date: Feb 17 2023
// Modified By: Ferdinand Detres Jr
// Attributions: https://www.section.io/engineering-education/nodejs-mongoosejs-mongodb/
//https://www.youtube.com/watch?v=WDrU305J1yw
// In-Class tutorials -->


<!--contact us column-->
<div fxLayout="column">
    <div fxFlex>
      <h1 class="contactTitle"style="text-align: center; margin-top: 30px; margin-bottom: 50px">
        Contact Us
      </h1>
    </div>
    <div fxLayout="row wrap" style="margin-left: 9%">
      <div fxFlex>
        <div fxFlex="row" style="text-align: center">
          <mat-card class="addressCard">
            <mat-card-content class="card-title-icon">
              <mat-icon style="color:#115911">navigation</mat-icon>
            </mat-card-content>
            <br />
            <mat-card-content>
                <p>10001 Hogwarts Avenue</p>
                <p>Bellevue, NE</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  

      <div fxFlex>
        <div fxFlex="row" style="text-align: center">
          <mat-card class="phoneCard">
            <mat-card-title class="card-title-icon">
              <mat-icon style="color:#115911">phone</mat-icon>
            </mat-card-title>
            <br />
            <mat-card-content class="align-center">
                <p><strong>HR Departmnet: </strong> 888-888-8888</p>
                <p><strong>IT Department: </strong> 1-800-555-5555</p>
                <p><strong>Employee relations department </strong> 555-555-5555</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
</div>