<!-- // Title: Bobs Computer Repair Shop
// Author: Professor Krasso
// Date: Feb 17 2023
// Modified By: Ferdinand Detres Jr
// Attributions: https://www.section.io/engineering-education/nodejs-mongoosejs-mongodb/
//https://www.youtube.com/watch?v=WDrU305J1yw
// In-Class tutorials -->

<div fxLayout="row wrap">
    <!-- address div -->
    <div fxFlex>
        <br />
        <mat-card-content class="align-center">
            <mat-icon style="color:#1b6f12">Navigation</mat-icon>
            <br /><br />
            <p>10001 Hogwarts Avenue</p>
            <p>Bellevue, NE</p>
        </mat-card-content>
    </div>

    <!-- contact div -->
    <div fxFlex>
        <br />
        <mat-card-content class="align-center">
            <mat-icon style="color:#767171">Bob's Computer Repair contacts</mat-icon>
            <br /> <br />
            <p><strong>HR Departmnet: </strong> 888-888-8888</p>
            <p><strong>IT Department: </strong> 1-800-555-5555</p>
            <p><strong>Employee relations department </strong> 555-555-5555</p>
        </mat-card-content>
    </div>
</div>